<!doctype html>
<html>
  <form method="post" action="/post">
    <input type="text" name="title" placeholder="title">
    <br>
    <textarea name="body" placeholder="body" rows=50 cols=80></textarea>
    <br>
    <input type=submit value="MAKE IT SO">
  </form>
